# ======= JAVA & SPRING BOOT (MAVEN) =======
target/
!.mvn/wrapper/maven-wrapper.jar
!gradle/wrapper/gradle-wrapper.jar
build/
.gradle/
bin/
out/
*.db
*.mv.db
*.trace.db

# ======= ANGULAR / NODE / FRONTEND =======
node_modules/
.angular/
dist/
tmp/
out-tsc/
bazel-out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# ======= IDEs & EDITORS =======
.idea/
*.iml
*.iws
.project
.classpath
.settings/
.factorypath
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/
*.sublime-workspace
.c9/
*.launch

# ======= OPERATING SYSTEM =======
.DS_Store
.DS_Store?
._*
Thumbs.db

# ======= ENVIRONMENT & LOGS =======
.env
.env.local
*.log
logs/
application-local.properties
